.container{
    width: 100%;
    height: 3000px;
    /* border-style: dotted; */
    margin: 0 auto;
}

/*---------------------PAGE - 1---------------------*/
.page-1{
    width: 100%;
    height: 630px;
    /* border-style: dotted; */
    margin: 0 auto;
}

.menu{
    width: 100%;
    height: 55px;
}

.banner{
    width: 100%;
    height: 550px;
    background-image: url(/goind/images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.logo{
    width: 15%;
    height: 60px;
    margin-left: 20px;
    margin-top: 10px;
    float: left;

}
.navbar{
    width: 50%;
    height: 60px;
    margin-left: 200px;
    float: left;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 5px;
}
.navbar li{
    float: left;
}
.navbar a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: grey;
}
.navbar a:hover{
    color: #2596be;
}

.login{
    width: 15%;
    height: 60px;
    margin-right: 0px;
    float: right;
}
.login a{
    display: inline-block;
    padding: 14px;
    text-decoration: none;
    text-align: right;
    font-size: 18px;
    color: #2596be;
}

.login a:hover{
    color: grey;
}

.banner-content{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 440px;
    /* border-style: dotted; */
    padding-top: 80px;
}

.heading , .discover, .search, .para{
    width: 95%;
    height: 100px;
    margin: auto;
    /* border-style: dotted; */
}
.heading{
    height: 120px;
}
.heading p{
    display: inline-block;
    margin-left: 12%;
    margin-top: 20px;
    font-size: 65px;
    color: white;
}

.email-btn{
    width: 40%;
    height: 30px;
    border-radius: 15px 0px  0px 15px ;
    margin-top: 20px;
    margin-left: 150px;
    border-style: none;
    padding: 10px;
    font-size: 15px;

    float: left;
}
.sub-btn{
    width: 20%;
    height: 50px;
    border-radius: 0px 15px 15px 0px ;
    margin: 20px 0px;
    background-color: rgb(18, 13, 13);
    /* display: inline-block; */
    border-style: none;
    float: left;
}
.sub-btn a{
    text-decoration: none;
    color: white;
}

.para{
    text-align: center;
    
}

.para p{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.discover a{
    padding: 20px 40px;
    background-color: black;
    display: inline-block;
    color: white;
    margin-left: 35%;
    margin-top: 30px;
    text-decoration: none;
}

/*---------------------PAGE - 2---------------------*/
.page-2{
    width: 100%;
    height: 2020px;
    /* border-style: dotted; */
    margin: 0 auto;
    /* background-color: slategray; */
}

.jobs-container{
    width: 100%;
    height: 440px;
    /* border-style: dotted; */
    margin: 0 auto;
    padding: 30px 0px;
}

.container-right-pg2{
    height: 400px;
    width: 40%;
    /* border-style: dotted; */
    float: left;
    margin-left: 8%;
    /* margin-top: 10px; */
}

.img-right-pg2{
    height: 400px;
    width: 50%;
    /* border-style: dotted; */
    /* margin-right: 5%; */
    float: right;
}

.container-left-pg2{
    height: 400px;
    width: 40%;
    /* border-style: dotted; */
    float: right;
    /* margin-right: 5%; */
    /* margin-top: 10px; */
    margin-right: 8%;
}

.img-left-pg2{
    height: 400px;
    width: 50%;
    /* border-style: dotted; */
    float: left;
    /* margin-left: 5%; */
}

.heading-right-pg2, .heading-left-pg2{
    height: 80px;
    width: 80%;
    /* margin: 0 auto; */
    border-style: dotted;
    
}
.heading-right-pg2{
    margin-left: 100px;
}

.heading-right-pg2 h2{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.heading-left-pg2 h2{
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.para-right-pg2, .para-left-pg2{
    height: 160px;
    width: 80%;
    /* margin: 0 auto; */
    border-style: dotted;
    padding-top: 18px;
}
.para-right-pg2{
    margin-left: 100px;
}
.para-right-pg2 p{
    font-size: 18px;
}
.para-left-pg2 p{
    font-size: 18px;
}

.btn-right, .btn-left{
    height: 60px;
    width: 80%;
    /* margin: 0 auto; */
    border-style: dotted; 
}
.btn-right{
    margin-left: 100px;
}
.btn-right a{
    padding: 15px 70px;
    background-color: rgb(42, 38, 38);
    display: inline-block;
    color: white;
    text-decoration: none;
}
.btn-right a:hover{
    background-color: #2596be ;
}

.btn-left a{
    padding: 15px 70px;
    background-color: rgb(42, 38, 38);
    display: inline-block;
    color: white;
    text-decoration: none;
}
.btn-left a:hover{
    background-color: #2596be ;
}

.img-right-pg2 img{
    width: 100%;
    height: 100%;
}
.img-left-pg2 img{
    width: 100%;
    height: 100%;
}

/*---------------------PAGE - 3---------------------*/
.page-3{
    width: 100%;
    height: 350px;
    /* border-style: dotted; */
}
.sub{
    width: 90%;
    height: 300px;
    padding-top: 40px;
    padding-left: 150px;
    /* border-style: dotted; */
    margin: 0 auto;
    background-color: #00aeef;
}

.sub-heading, .sub-para, .sub-field{
    width: 80%;
    height: 70px;
    color: white;
    /* border-style: dotted; */
    margin-left: 45px;   
}

.sub-para{
    height: 65px;
}
.sub-heading h2{
    font-size:35px;
}
.sub-para p{
    font-size: 20px;
}
.sub-input{
    width: 100%;
    height: 55px;
    /* float: left; */
    border-style: none;
    border-radius: 15px;
    display: inline-flex;
    padding-right: 5px;
}
.sub-field{
    display: inline-block;
    position: relative;
}
.sub-btn2{
    width: 20%;
    height: 55px;
    /* float: left; */
    background-color: rgb(18, 13, 13) ;
    border-radius: 15px;
    position: absolute;
    top: 6px;
    right: -8px;
    height: 44px;
}
.sub-input{
    padding-left: 10px;
    font-size: 15px;
}
.sub-btn2 a{
    text-decoration: none;
    color: white;
}

/*---------------------FOOTER---------------------*/
footer{
    width: 100%;
    height: 60px;
    background-color: white;
}
.foot-1, .foot-2{
    height: 30px;
    width: 50%;
    text-align: center;
    font-size: 20px;
}
 
.foot-1{
    float: left;
}

.foot-2{
    float: right;
}

/*---------------------HOME PAGE END---------------------*/

/*---------------------SEARCH PAGE START---------------------*/

.search-container{
    width: 100%;
    height: 1040px;
    /* border-style: dotted; */
    margin: 0 auto;
}

/*---------------------SEARCH-PAGE-1---------------------*/
.search-pg-1{
    width: 100%;
    height: 680px;
    /* border-style: dotted; */
    margin: 0 auto;
    /* background-color: teal; */
}
.search-banner{
    width: 100%;
    height: 550px;
    /* border-style: dotted; */
    background-image: url(/goind/images/search_bg.png);
    background-size: 100% 100%;
}
.search-banner-container{
    width: 85%;
    height: 400px;
    /* border-style: dashed; */
    margin: 0 auto;
    padding-top: 80px;
}
.search-banner-heading{
    width: 100%;
    height: 100px;
    /* border-style: dotted; */
    text-align: center;
}
.search-banner-heading img{
    padding-top: 25px;
} 
.search-banner-content{
    width: 100%;
    height: 200px;
    /* border-style: dotted; */
}
.search-banner-btn{
    width: 100%;
    height: 80px;
    /* border-style: dotted; */
    text-align: center;
    padding-top: 50px;
}
.search-banner-col-1, .search-banner-col-2{
    width: 48%;
    height: 100%;
    float: left;
    /* border-style: dotted; */
}

.search-banner-col-1{
    margin-right: 25px;
}

.col-heading, .col-para, .col-input{
    width: 100%;
    height: 60px;
    /* border: dotted 1px; */
    color: white;
}
.col-heading{
    height: 35px;
}
.col-input input{
    width: 85%;
    height: 40px;
    float: left;
    border-style: none;
    border-radius: 2px 0px 0px 2px;
}
 
.col-input-box{
    padding-left: 15px;
    font-size: 16px;
}

.col-input button{
    width: 8%;
    height: 42px;
    background-color: darkgrey;
    border-style: none;
    font-size: 20px;
    border-radius: 0px 2px 2px 0px;
}

.col-btn a{
    text-decoration: none;
    color: white;
    
}

.search-banner-btn a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 14px 44px;
    border-radius: 4px;
}

/*---------------------SEARCH-PAGE-2----------------------*/
.search-pg-2{
    width: 100%;
    height: 400px;
    /* border-style: dotted; */
    margin: 0 auto;
}

/*---------------------SEARCH-PAGE END----------------------*/

/*--------------------RECRUTMENTS PAGE START---------------------*/
.rec-container{
    width: 100%;
    height: 1600px;
    /* border-style: dotted; */
    margin: 0 auto;
}
/*---------------------RECRUTMENTS-PAGE-1---------------------*/
.rec-pg-1{
    width: 100%;
    height: 480px;
    /* border-style: dotted; */
}
.top-banner{
    width: 100%;
    /* border-style: dotted; */
    height: 130px;
}
.top-banner-bg{
    width: 100%;
    height: 130px;
    background-image: url(/goind/images/banner-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.top-banner-h1{
    width: 40%;
    /* border-style: dotted; */
    height: 80px;
    margin: 0 auto;
    padding-top: 10px;
}

.top-banner-h1 h1{
    text-align: center;
    color: white;
    font-size: 45px;
    /* margin-top: 0px;
    padding-top: 20px; */
    font-family: Merriweather, serif;
}

.rec-banner-filler{
    width: 100%;
    /* border-style: dotted; */
    height: 100px;
}
.rec-banner-content{
    width: 100%;
    /* border-style: dotted; */
    height: 140px;
    background-color: #d6f2ee;
}

.rec-banner-input-1, .rec-banner-input-2{
    width: 15%;
    height: 80px;
    /* border-style: dotted; */
    float: left;
    margin-top: 40px;

}
.rec-banner-input-1{
    margin-left: 100px;
}
.rec-banner-input-2{
    width: 20%;
}
.rec-banner-input-1{
    margin-left: 100px;
}

.rec-banner-input-1 input,.rec-banner-input-2 input {
    width: 85%;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    border-style: none;
}
.rec-banner-input-1 input{
    background-color: #36bbe9;
}

.rec-banner-input-2 input{
    background-color: #222121;
}


/*---------------------RECRUTMENTS-PAGE-2---------------------*/
.rec-pg-2{
    width: 100%;
    height: 750px;
    margin: 0 auto;
    /* border-style: dotted; */
}
.rec-table{
    width: 90%;
    height: 750px;
    margin: 0 auto;
    /* border-style: dotted; */
    /* padding-top: 30px; */
}

.rec-row{
    width: 90%;
    height: 160px;
    margin: 0 auto;
    /* border-top: none;
    border-left: none;
    border-right: none; */
    border-bottom: solid #c3c3c2 4px;
}

.rec-row-no{
    width: 10%;
    height: 150px;
    float: left;
    /* border-style: dotted; */
}
.rec-row-no button{
    margin-top: 40px;
    width: 70px;
    height: 70px;
    background-color: #222121;
    border-style: none;
    border-radius: 46%;
}
.rec-row-no a{
    text-decoration: none;
    color: white;
    font-size: 40px;
}
.rec-row-desc{
    width: 55%;
    height: 150px;
    float: left;
    /* border-style: dotted; */
    margin-left: 100px;
}
.rec-row-heading{
    width: 60%;
    height: 50px;
    /* border-style: dotted; */
    font-family: Merriweather, serif;
    font-size: 25px;
    color: #00aeef;
}
.rec-row-para{
    width: 100%;
    height: 40px;
    font-size: 18px;
    /* border-style: dotted; */
}

.rec-row-btn{
    width: 20%;
    height: 150px;
    float: right;
    /* border-style: dotted; */
}

.rec-row-btn button{
    margin-top: 60px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    color: white;
    background-color: #00aeef;
    border-style: none;
    border-radius: 20px;
}

/*--------------------RECRUTMENTS PAGE ENDS---------------------*/

/*--------------------COMPANIES PAGE STARTS---------------------*/
.com-container{
    width: 100%;
    height: 1460px;
    /* border-style: dotted; */
    margin: 0 auto;
}
/*---------------------COMPANIES-PAGE-1---------------------*/
.com-pg-1{
    width: 100%;
    height: 420px;
    /* border-style: dotted; */
}
.content-heading{
    width: 30%;
    height: 100px;
    padding-top: 80px;
    border-bottom: 5px solid #46c3f3;
    margin: 0 auto;
}
.content-heading h1{
    font-family: Merriweather, serif;
    text-align: center;
    font-size: 45px;
}
/*---------------------COMPANIES-PAGE-2---------------------*/
.com-pg-2{
    width: 100%;
    height: 640px;
    /* border-style: dotted;   */
}
.com-content{
    width: 80%;
    height: 620px;
    /* border-style: dotted;
    background-color: rgb(18, 110, 130) ; */
    margin: 0 auto;
}

.com-gallery{
    padding-top: 50px;
    width: 90%;
    height: 560px;
    /* border-style: dotted;
    background-color: rgb(81, 196, 211); */
    margin: 0 auto;
}
.com-row-1{
    width: 100%;
    height: 260px;
    /* border-style: dotted; */
    margin: 0 auto;
    /* background-color: #c3c3c2; */
}
.col{
    width: 24%;
    height: 240px;
    margin-left: 2px;
    margin-right: 2px;
    /* border-style: dotted; */
    float: left;
}
.col-img{
    height: 160px;
    width: 95%;
    /* transform: scale(1); */
    /* border-style: dotted; */
    /* background-color: rgb(193, 152, 152); */
}
.col-img:hover{
    transform: scale(0.8);
}

.desc{
    height: 60px;
    width: 95%;
    /* visibility: hidden; */
    /* border-style: dotted; */
    /* background-color: rgb(235, 235, 227); */
}
.desc p{
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding-top: 15px;
    
}

.col-img img{
    width: 100%;
    height: 160px;
}

/*--------------------COMPANIES PAGE ENDS---------------------*/

/*--------------------SERVICES PAGE STARTS---------------------*/
.service-container{
    width: 100%;
    height: 1255px;
    /* border-style: dotted; */
    margin: 0 auto;
    /* background-color: rgb(193, 152, 152); */
}

/*---------------------SERVICES-PAGE-1---------------------*/
.service-pg-1{
    width: 100%;
    height: 420px;
    /* border-style: dotted; */
}

/*---------------------SERVICES-PAGE-2---------------------*/
.service-pg-2{
    width: 100%;
    height: 420px;
    /* background-color: rgb(193, 152, 152); */
    /* border-style: dotted; */
}

.service-content{
    width: 85%;
    height: 380px;
    /* border-style: dotted; */
    margin: 0 auto;
    padding-top: 20px;
}

.service-col{
    width: 24%;
    height: 360px;
    /* border-style: dotted; */
    margin-left: 5px;
    float: left;
    /* background-color: rgb(255, 202, 202); */
}

.service-col-img{
    width: 100%;
    height: 140px;
    /* border-style: dotted; */
    margin: 0 auto;
}
.service-col-img img{
    width: 80%;
    height: 140px;
    padding-left: 30px;

}

.service-col-heading{
    width: 100%;
    height: 50px;
    /* border-style: dotted; */
    padding-bottom: 2px;
    margin: 0 auto;
}
.service-col-heading h2{
    text-align: center;
}

.service-col-para{
    width: 80%;
    height: 60px;
    /* border-style: dotted; */
    margin: 0 auto;
}
.service-col-para p{
    text-align: center;
    font-size: 15px;
}
.service-col-join{
    width: 100%;
    height: 80px;
    /* border-style: dotted; */
    margin: 0 auto;
}
.service-col-btn{
    border-style: none;
    width: 40%;
    height: 50px;
    background-color: #222121;
    margin-left: 30%;
    margin-top: 5px;
}
.service-col-btn:hover{
    background-color: #2596be;
}

.service-col-btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

/*--------------------SERVICES PAGE ENDS---------------------*/

/*--------------------LOGIN PAGE STARTS---------------------*/
.login-container{
    width: 100%;
    height: 1350px;
    /* border-style: dotted; */
}

/*--------------------LOGIN PAGE-1---------------------*/
.login-pg-1{
    width: 100%;
    height: 250px;
    /* border-style: dotted; */
}
/*--------------------LOGIN PAGE-2---------------------*/
.login-pg-2{
    width: 100%;
    height: 600px;
    border-style: dotted;
    background-color: #007bff;
}
.login-form-container{
    width: 30%;
    height: 500px;
    margin: 50px auto;
    border-style: solid ;
    background-color: white;
    border-radius: 15px;
}
.form-headind{
    width: 100%;
    height: 50px;
    /* border-style: dotted; */
    text-align: center;
    margin-top: 30px;
}
.form-box{
    width: 85%;
    height: 50%;
    border-bottom: solid 1px #222121 ;
    margin: 0 auto;
    text-align: center;
}

.form-in{
    width: 90%;
    height: 40px;
    border-radius: 25px;
    border: #c3c3c2 solid 2px;
    margin-top: 15px;
    padding-left: 25px;
}

.form-in-btn, .form-in-btn-google, .form-in-btn-fb{
    width: 98%;
    height: 45px;
    border-radius: 25px;
    border: none;
    background-color: #007bff;
    color: white;
    margin-top: 15px;
}
.form-in-btn-google{
    background-color: #ea4335;
}
.form-in-btn-fb{
    background-color: #3b5998 ;
}

.remember-pass{
    padding-top: 15px;
    width: 80%;
    font-size: 20px;
    text-align: left;
    height: 25px;
    margin: 0 auto;
}
.other-login{
    width: 85%;
    height: 30%;
    margin: 0 auto;
}


.login-filler{
    width: 100%;
    height: 80px;
}
